[2021-01-31 09:40] moodmosaic commented on #280
@adam-becker I appreciate this, as well as all the great work you're doing. This is great news for the project. :rocket: :100:

[2021-01-31 16:02] adam-becker commented on #280
@moodmosaic I've created a `0.10.0` label, and added it to issues I think should be in `0.10.0`, feel free to change that assignment.

[2021-01-31 18:29] adam-becker commented on #177
@TysonMN Is this related to the work you've done in #289?

[2021-01-31 23:06] TysonMN commented on #177
Probably not.  However, I expect this is caused by `Random.bind` having a similar same problem as `Random.map`.  I don't know yet, but I hope the difference list technique will also help fix this problem.

[2021-01-31 23:19] HuwCampbell commented on #224
In general we try to shrink smallest values first instead, as in complex structures this quickly removes irrelevant terms. So I don't think this would work very well
[code]

Each sub-tree essentially repeats the same shrink strategy. This isn't _too_ bad, as the number of duplicates is usually only the 0 term; and it means we'll always reach something small even after a few binds.

It might be pos

[2021-01-31 23:20] HuwCampbell commented on #224
Also, I have no idea how it would work for something like shrinking a list.

[2021-02-01 04:59] TysonMN commented on #224
I am not completely sure I understand what you mean.  I will rephrase into my own words what I think you mean.

Is that an accurate rephrasing of what you mean?

Might?  I am not sure that we are on the same page.  I have contributed PR #239 to fix this issue.  My claim is that the code in that PR produces shrink trees that _precisely_ correspond to the behavior of binary search.

My impression is

[2021-02-01 06:01] HuwCampbell commented on #224
Sorry I was a bit sloppy using might there.

Obviously for integers it is absolutely possible to build the tree I wrote above (although, as I'm sure you've noticed, not with the `unfold` and `expand` functions we have in the Haskell version.

Sorry I have never used f# at all nor looked at the implementation of fsharp-hedgehog; I can't comment on your PR. If you provide some examples over on that

[2021-02-01 16:17] adam-becker commented on #197
Closing as part of merging #196

[2021-02-01 16:17] #197 closed

[2021-02-01 16:52] adam-becker opened #296 "Each function has at least one test"
Now that we have a single test project, it would be nice to see at least one test verifying the behavior of each function. Particularly, `Tree` and `Seed` seem to be lacking test cases.

/cc @moodmosaic @TysonMN

[2021-02-01 18:48] TysonMN commented on #224
I intend to optimize the shrink tree to start by testing the smallest value first.  I think the proper way to obtain a shrink tree that both
1. does exactly what binary search would do
2. except that the smallest value is tested first

is to first do exactly what binary search would do and then modify that behavior to test the smallest value first.

I am using integers as an example.  The code I w

[2021-02-01 22:42] HuwCampbell commented on #224
Sorry. I just mean this in (imagining haskell had records):

[code]

Here the values of `a` and `b` in this product type are irrelevant to the test failure. Hedgehog will shrink these terms to 0 and 0.0 quickly, finding there is still a failure. It won't have any shrink more operations in its tree for them so will "concentrate" on finding the smallest `c` which yields an error.

[2021-02-02 04:25] TysonMN commented on #224
Yep, that is the current behavior.  And I want that behavior as well.  I just think the proper way to obtain a shrink tree that both
1. does exactly what binary search would do
2. except that the smallest value is tested first

is to first do exactly what binary search would do and then modify that behavior to test the smallest value first.

[2021-02-02 04:30] TysonMN commented on #283
@cmeeren described a similar issue in #154.  I provided a solution to his problem in PR https://github.com/hedgehogqa/fsharp-hedgehog-experimental/pull/42.  I suggest we remove our test flakiness by using the same approach.

[2021-02-02 04:44] TysonMN opened #299 "Arguments to Tree.bind are backwards"
https://github.com/hedgehogqa/fsharp-hedgehog/blob/fffdac4b33279db137fbce72f552feadd2cda0ac/src/Hedgehog/Tree.fs#L28

[2021-02-02 05:21] #283 closed

[2021-02-02 05:49] HuwCampbell commented on #224
Ok. I have written something in the Haskell version:

It gives this:
[code]

[2021-02-02 05:54] HuwCampbell commented on #224
Here's the implementation if you're interested.

[code]

[2021-02-02 05:59] TysonMN commented on #224
Beautiful!

You just wrote that code, right? Do you plan to merge that code in?

[2021-02-02 06:01] #299 closed

[2021-02-02 06:09] HuwCampbell commented on #224
Yes I did; and I will put a PR.

It does looks quite a lot better to the eye. I'm doing some comparisons with how it goes in the examples at the moment (seeing if it reduces the average number of shrinks and works well with nesting products and sums, I expect it will do well).

[2021-02-02 09:19] HuwCampbell commented on #224
https://github.com/hedgehogqa/haskell-hedgehog/pull/413

[2021-02-02 09:37] moodmosaic commented on #296
FWIW, that one [parameterized test in `Seed`](https://github.com/hedgehogqa/fsharp-hedgehog/pull/161/files) originates from a [fix](https://github.com/hedgehogqa/fsharp-hedgehog/pull/160/files) I originally did for `haskell-hedgehog` [here](https://github.com/hedgehogqa/haskell-hedgehog/commit/39b15b9b4d147f6001984c4b7edab00878269da7) and it basically verifies that we won't accidentally run into a

[2021-02-02 13:17] TysonMN commented on #224
Excellent! :D

I will participate in that PR review.  After it is complete, I will return to PR #239.

[2021-02-02 14:20] TysonMN opened #301 "Gen.map{n} vs Gen.zip[n] confusion"
I am confused by our `Gen.map{n}` and `Gen.zip[n]` functions.
https://github.com/hedgehogqa/fsharp-hedgehog/blob/00e45b73453fa3dab4bc4025f0fea5e71eab9659/src/Hedgehog/Gen.fs#L59-L93

Scott Wlaschin [says](https://fsharpforfunandprofit.com/posts/elevated-world/#zip) that `zip` and `map2` are different names for the same function.  However, we have defined `zip` as a special case of `map2` (by passi

[2021-02-02 14:33] TysonMN commented on #289
There have been great improvements to `Random` lately including PRs #266 and #276.  The last one in the queue is PR #290.  After that PR is completed, I will create a PR for the following change.  Then I will create a PR for the fix that I posted above.

Recall that
- `bind f = map f >> flatten` and
- `flatten = bind id`.

So we can implement one of these functions "directly" and then define the r

[2021-02-02 15:51] adam-becker commented on #296
Sure, what I was pointing out is that it's the _only_ test we have for `Seed`, which is a central component of the project.

100% agreed. This issue isn't meant to let us "off the hook" for future, more rigorous, testing. I've just noticed that we have a similar question pop up on a few PRs lately, that question being "Does this behave the same as the previous implementation?" If we had a suite of

[2021-02-02 15:53] moodmosaic commented on #296
Yep, I'm all in 👍

[2021-02-02 16:06] adam-becker commented on #301
As I understand it, `zip` should be a function that takes two different instances of the functor (ie, `Gen<'a>`, and `Gen<'b>`) and produces a "multiplexed" functor instance (ie, `Gen<'a * 'b>`). The inputs need not be the same type, the important bit is that they are _combined_ into a single `Gen<'a>`. In this way, `zip` can be an equivalent of `apply`:

[code]

A potential advantage of `zip` is

[2021-02-03 21:34] moodmosaic commented on #301
`zip`, `zip3`, and `zip4`, could be deprecated in favor of `tuple`, `tuple3`, and `tuple4`

My memory can't go back so many years but as I see it today

* `zip` clashes with Haskell's standard prelude `zip` which produces a list of pairs from a pair of lists
* `zip` in Scott's post seems to be [published](https://gist.github.com/moodmosaic/d44ef4123375683d6e6af308c7d4a641#file-sort-fsharpforfunand

[2021-02-04 21:41] #270 closed

[2021-02-06 10:51] #280 closed

[2021-02-06 11:23] moodmosaic commented on #215
Great work! 🚀 v0.10.0 was published on NuGet Gallery automatically (and a v0.10.0 tag was created also).

[2021-02-07 02:17] TysonMN opened #306 "Seq module scope"
I would prefer if the `Seq` module had internal scope.  Currently it has public scope.

https://github.com/hedgehogqa/fsharp-hedgehog/blob/f346f77b40231978e6f7904b67f96b559780d548/src/Hedgehog/Shrink.fs#L3-L17

[2021-02-07 10:22] moodmosaic commented on #306
Yes, it ought to be internal. I can't remember why we've declared it as public. Feel free to change it to internal.

[2021-02-07 16:24] #306 closed

[2021-02-07 16:45] adam-becker commented on #289
@TysonMN I don't think #290 should have to block the work you've done here, have I missed something? It seems like a PR for this would be ready to go with or without #290.

If you put up PRs to get this done, I'd merge them straight away.

[2021-02-08 01:56] dharmaturtle opened #313 "Rename the parameters of Range.exponentialFrom (and friends)"
https://github.com/hedgehogqa/fsharp-hedgehog/blob/368469461f3862256eddbd6a380b5d374403da00/src/Hedgehog/Range.fs#L172-L174

`z`, `x`, and `y` are pretty opaque. How do we feel about renaming these to `origin`, `lowerBound`, and `upperBound` respectively?

I intend the rename to also affect `exponentialBounded`, `linear*`, and `constant*`.

[Haskell uses `z`, `x`, and `y`](https://hackage.haskell.

[2021-02-08 12:22] TysonMN commented on #313
I think this is an improvement

[2021-02-08 14:31] TysonMN commented on #289
Ok, I will try.  Let's do PR #314 first.

[2021-02-08 15:51] moodmosaic commented on #313
I thought [`z`, `x`, and `y` are great variable names](https://blog.ploeh.dk/2015/08/17/when-x-y-and-z-are-great-variable-names/) in this particular case? :thinking:

[2021-02-08 16:50] TysonMN commented on #313
I don't think Mark's argument applies here.

Here is his first point including what I think is an implicit assumption.

These three values all have the same type, but they play different roles.  I think the following is ambiguous given only the API.

Suppose I want to represent an exponential range (of years) from 1900 to 2100 that shrinks towards 2000.  How should I write this?
- `exponentialFrom

[2021-02-08 18:23] moodmosaic commented on #313
I agree with your point of view. I believe that this point of view is basically also the point of view of most of the users out there (that don't know―or don't *want* to know―the history and/or the implementation behind all this).

It *can* be seen as an improvement, then, `origin`, `lowerBound`, and `upperBound`. (Of course the type system won't stop you from messing around with the order, but th

[2021-02-08 21:02] TysonMN commented on #313
I agree with Mark that single-letting names are often perfectly clear.  I just not convinced that this is one of them.

Maybe one way to improve the situation is introducing another type.  Maybe call it `Interval<'a>`.  Then a `Range<'a>` could be an origin and an `Interval<'a>`.  [Naming is impossibly hard](https://tysonwilliams.coding.blog/2020-07-15_naming_is_impossibly_hard), so these are prob

[2021-02-11 08:10] #224 closed

[2021-02-20 00:14] #226 closed

[2021-02-20 10:39] altxt opened #316 "A way to stop shrinking from within property evaluation ?"
When writing my first property tests with Hedghog, I bumped into SUT entering an endless loop. I solved this with running the offending function in a new Task and cancelling it on timeout via Thread.Abort and/or CancellationToken. In FsCheck this works fine for reasonable timeout durations. Hedgehog, however, treats timeout as a counterexample and starts trying to shrink it. Often this leads to an

[2021-02-20 15:49] altxt opened #317 "Exceptions are reported inconsistently"
It looks like exceptions in `Property` and `Property<bool>` are treated and reported differently, with each treatment having good and bad sides. The important aspects in question are
- whether an exception in a single test run aborts the entire property test
- whether the correct exception location is reported in the output

**Property:**
[code]

Output:
[code]

Notice that
- Test run and reproduc

[2021-02-20 18:45] TysonMN commented on #317
Can you share these tests in a GitHub repo in which we can immediately execute and reproduce the behavior you describe?

[2021-02-20 19:03] TysonMN commented on #316
Do you have desired behavior in mind or are you only describing a use case for which we might be able to improve the behavior?

I understand general desire to minimize usage of CI server resources, but the primary goal is to save development time.  People are expensive; computers are cheap.

Can you rephrase this in terms of how you want to save development time instead of CI server time?

[2021-02-20 19:57] altxt commented on #317
Sure, https://github.com/altxt/hedgehog-test

[2021-02-20 20:09] altxt commented on #316
I'm not all that worried about server usage. Human time is actually more affected. PBT might be used not only as an R&D tool, but also as a guard against regressions, like traditional example- and script-based tests. So a CI build and test run that unexpectedly took too long might block a PR from merging, forcing developers to wait idly or multitask, neither of which is good for productivity.

Rea

[2021-02-21 00:26] TysonMN commented on #316
What would a human do differently than what Hedgehog is already doing automatically?

[2021-02-22 08:36] altxt commented on #316
After thinking some more, I believe the argument about time limit applies equally to a CI environment and to a local test run. Most of the time people cannot afford to wait an indefinite amount of time. Either a test completes in the available time span, or it has to be aborted (thus producing no usable output) and scheduled to run overnight, on weekend, etc.

The difference is in whether a develo

[2021-02-22 16:05] TysonMN commented on #317
Excellent job @altxt providing tests that minimally reproduce this issue.  I just created PR #318 that fixes it.

I didn't end up needing that GitHub repo.  Thank anyway though for creating it.

[2021-02-22 18:22] TysonMN opened #319 "Frequency generator should immediately shrink"
F# Hedgehog might contain [this bug that was fixed in Haskell Hedgehog](https://github.com/hedgehogqa/haskell-hedgehog/pull/406) about the frequency generator testing the same values more than once.

If F# Hedgehog has this bug, then we should fix it.  Either way, we should have a test that would fail if we had this bug.

I don't know if we have that bug or have such a test.  I will work on this (

[2021-02-22 18:26] TysonMN commented on #316
I think there are at least two issues here.

First, it seems that fives seconds is too long.  I get the impression that you would prefer a lower timeout.  I don't have first-hand experience with Hedgehog's timeout behavior and API.  I think it would be great to be able to set a default timeout as well as local overrides.  Not sure if that is possible.

Is there some improvement to Hedgehog's "time

[2021-02-23 04:30] TysonMN opened #320 "Obtain shrink tree from a generator for particular value"
Given our current implementation, is it possible to define a function with signature
[code]
which returns the shrink tree that the generator would use if the given value failed the test?

Of course this is not always possible.  For example, the given value might not be in the range of the generator.

[2021-02-24 10:26] altxt commented on #317
@TysonMN thank you for the prompt response and fix.
I tried to check the fixes from you PR branch, and it looks like the issue with an exception aborting the property run is indeed fixed.
The other issue with the original exception info not being shown has propagated from `Property` into `Property<bool>` as well. Is that intentional? I'm willing to provide more context if the problem description i

[2021-02-24 12:15] TysonMN commented on #317
Oh, that is not international.  I had read to quickly before and didn't realize there were two issues.  I will check on that shortly.

[2021-02-24 14:14] TysonMN commented on #317
I pushed new commits.  I think they fix the second issue you found, which is not including the information about the exception in the report.  It would be great if you could check again.

[2021-02-24 14:35] TysonMN opened #322 "Name all arguments and include all type annotations in public API?"
Do we have to name all arguments and include all type annotations in the public API?

For example, I would prefer to write
https://github.com/hedgehogqa/fsharp-hedgehog/blob/569ca6915e77b274ec685ee6b5c339fbfc128bec/src/Hedgehog/Property.fs#L66-L67

as
[code]

If we decide to change this convention/style, know that we don't have to change the all the code at once.  It can happen slowly over time, e

[2021-02-24 18:41] altxt commented on #317
They do, thank you.
Here are the tests to prove it - not sure if I should try to add them to your branch
[code]

[2021-02-24 21:02] TysonMN commented on #317
Yes, good idea.  I also thought of that last earlier today.

I just pushed more commits that make a similar assertion in the tests.

[2021-02-28 18:45] altxt commented on #316
I was referring to the running time of the function called within the property, not the Hedgehog machinery on top of that. 5 seconds was the threshold between a successful execution and a hung one for a particular test I was working with at the time. I'm not sure how long shrinking takes in addition to property evaluation, but it has to be time-limited all the same.

Looking at how minimalistic He

[2021-03-01 16:56] altxt opened #323 "A way to render a list completely in the report?"
Given a property that takes a list generator, such as this
[code]
When the property fails, the output only shows the first several elements of the list
[code]
It can be beneficial to be able to see all elements of the list in the test output. This can be achieved by wrapping the input in a class and overriding its ToString(), but it takes significantly more code, so a simpler way would be preferab

[2021-03-01 17:36] altxt commented on #316
As an afterthought, an interrupted property check should dump the last used seed and size so that it's possible to restart from where the test stopped.

[2021-03-02 05:21] TysonMN commented on #316
What would `Collect` and `Classify` do?

[2021-03-02 06:26] altxt commented on #316
They are used to look at the generated input values, gather some statistics and see if they are good enough to really check what the property claims it does.
https://fscheck.github.io/FsCheck/Properties.html#Observing-Test-Case-Distribution
Collect just prints the value, so it can be replaced with a simple Console.WriteLine within a property.
Classify takes a bit more code to implement, but it can

[2021-03-02 19:58] altxt commented on #323
An equivalent F# test works as expected
[code]
But if we convert the F# list to a C# list, like Hedgehog.Linq does, then the ellipsis is there
[code]
It looks like `sprintf "%A"` only recognizes a C# generic `List<T>` (aka `ResizeArray<_>`) as IEnumerable (aka seq) but not as a list and so, knowing that it can be infinite or slow to traverse, decides to only dump the first elements.

[2021-03-03 14:08] TysonMN commented on #268
For which of our monadic types is its monadic behavior different from its application behavior?  I do not know of any but I could be missing something.

[2021-03-03 14:12] TysonMN commented on #316
Ah, yes.  Thanks for that clarification.  Issue #25 is about adding such features.

When the test passes, how long is a typically execution?

[2021-03-03 19:31] altxt commented on #316
500ms - 1sec

[2021-03-09 14:39] TysonMN commented on #316
I thought of a potential workaround.  Can you try including a filter in your generator that depends on a flag that you toggle after concluding that you want shrinking to stop?  Mutations are nasty though, so you might run into weird behavior like that in #192.

[2021-03-21 19:54] adam-becker commented on #322
The component design guidelines for F# explicitly mention not doing what you're suggesting here. All parameters should be named/typed. If not in the main source file, then in a separate `.fsi` file once the API stabilizes (which I think we should do as part of a `1.0.0` release).

The reason for this, is that the F# compiler won't generate the same code for point-free style functions. For example,

[2021-03-21 19:56] adam-becker commented on #320
I think being able to inspect a shrink tree might be useful, in case Hedgehog does something unexpected when creating shrinks. I don't see any drawbacks to this, so :+1:

[2021-03-21 20:02] adam-becker commented on #323
@altxt If you have more tests like these, we'd be glad to include them for the C# interface so we don't introduce regressions. C# support is something we definitely want to improve, so these would be a very welcome addition!

[2021-03-22 01:44] TysonMN commented on #322
What you are suggesting doesn't compile.

![2021-03-21_20-41-44_569](https://user-images.githubusercontent.com/34664007/111930129-2a9b3e80-8a86-11eb-877a-28e3009adeb2.png)

Here is an alternative suggestion, which uses a backwards pipe.
[code]

[2021-03-22 05:06] AlexeyRaga opened #325 "A way of generating a smart diff?"
`Hedgehog` in Haskell is awesome at generating smart diff when using `===` operator:

![image](https://user-images.githubusercontent.com/1394391/111942872-5ec73b80-8b28-11eb-8828-51d4c5ff97f4.png)

Is there a way of doing it in F#, too?

[2021-03-22 12:25] TysonMN commented on #325
Duplicate of #211

[2021-03-22 23:22] #325 closed

[2021-03-24 17:47] adam-becker opened #326 "Generalized formatting of generated values"
Following a quick discussion from #324, this issue is being created to provide generalized formatting for values from a `Gen<'a>`.

Ideally, we'd change the `Gen<'a>` type to be a record, and add a `formatter` field that looks like `'a -> string`. To maintain compatibility, this field should have a default value of `sprintf "%A"`. Another function should be exposed to override this default, `withF

[2021-03-24 17:48] #323 closed

[2021-03-24 19:26] TysonMN commented on #326
I am not convinced that this is the right approach.  My first impression is that we should make a change like that to `Property<_>` or the functions of `Property`.  It is those functions that want to `string` representation.

How does Haskell-Hedgehog solve this problem?

[2021-03-31 17:55] adam-becker commented on #326
Gen would have better knowledge of the `'a` being generated, I don't think `Property` is parameterized on the type being generated. I think of it as "gen can make a thing, and also a string representation of the thing".

They probably just use type classes, like `Show` and don't have this problem at all. The equivalent in .NET would be to override `ToString`, which we can't do for types we don't c

[2021-04-09 12:47] AlexeyRaga opened #327 "Bug: `counterexample` breaks in presence of exceptions"
Version: **0.10** from NuGet

It looks like when an exception is thrown inside of a property test, it works just fine unless there is a call to `counterexample`.

Here is the test:

[code]

with `counterexample` commented, it works as expected showing this output:

[code]

However, with `counterexample` uncommented it produces the following output:

[code]

So as we can see, there is no `after N t

[2021-04-09 18:30] TysonMN commented on #327
Thanks for reporting this @AlexeyRaga.

Could you also create a GitHub repository containing your reproduction?

[2021-04-10 04:32] AlexeyRaga commented on #327
@TysonMN sure, here it is: https://github.com/AlexeyRaga/FSharp.Hedgehog.Bugs

But really, it is just a copy/paste from the issue description

[2021-04-12 12:52] TysonMN commented on #327
Thanks @AlexeyRaga.

I have never used `counterexample`.  What is it supposed to do?

[2021-04-13 03:42] AlexeyRaga commented on #327
@TysonMN there is an official documentation here: https://hedgehogqa.github.io/fsharp-hedgehog/index.html#Custom-Operations

[2021-04-13 03:49] TysonMN commented on #327
Thanks. I understand now. It is essentially just appending to the journal. I will take another look at this tomorrow.

[2021-04-26 21:54] adam-becker opened #329 "Missing methods from C# API"
Using the library at work, I noticed a few methods missing from `0.10.0`:

- [ ] `Gen.Array`
- [ ] `Gen.Enumerable`
- [ ] `Gen.List`
- [ ] `Gen.String`

[2021-04-26 21:56] adam-becker opened #330 "F# types exposed in C# interface"
There is at least one instance of the `Option<T>` type being exposed in the C# interface. I think the entire API should be evaluated, and these should be removed. Ideally there would be a test that checks to make sure this doesn't happen.

[code]

[2021-04-26 22:01] #330 closed

[2021-04-26 22:01] #329 closed

[2021-05-11 20:45] lupin-de-mid opened #331 "Sample from Readme.md for csharp not compiled in 0.10.0 in netstandart2 dll"
Method `Gen.String`  not exist in dll in namespace `Hedgehog.Linq`
Checked for  net standart 2.0  and net 4.8

[2021-05-11 21:35] lupin-de-mid commented on #331
This line probably should look like
`   var stringGen = GenExtensions.String(Gen.Alpha, Hedgehog.Linq.Range.FromValue(stringLength));`

[2021-07-08 11:50] altxt opened #332 "Way to start a recheck from a fully shrunk case?"
In some cases, it can be beneficial to inspect in a debugger the behavior of the function under test. If it is sufficiently complex, this is better done using the input data that is as simple as possible - i.e. shrunken. Debugging is often done by seting breakpoints, so it is reasonable to expect the breakpoints to be hit starting directly with the shrunk unput. But I was unable to find a way of m

[2021-07-08 12:03] TysonMN commented on #332
You are not missing anything.  That is the intended behavior.

The idea of directly rechecking the shrunken case is interesting though.  I will think about that and also test your provided code later.

[2021-07-20 15:40] TysonMN commented on #332
We could create a bit vector that says if each input in the shrinking process passes the test (`1`) or fails the test (`0`).  Then we could use this bit vector to skip running each test and find the shrinken input.  With the shrinken input in hand, we would run the test once more for the user to debug it.

Now that I have this idea, I am excited to implement it.  Not sure at the moment when I will

[2021-07-24 19:03] TysonMN commented on #332
I wrote some code in an attempt to solve this problem, but I can't figure out how to avoid executing the test while traversing the shrink tree.

Can anyone explain how this might be done?

[2021-08-13 16:06] adam-becker commented on #331
Thanks for opening this issue! I also noticed some awkwardness around the `Hedgehog.Linq` namespace, and using Hedgehog from C#. I'm open to ideas on how to make this more ergonomic.

[2021-08-16 17:57] #313 closed

[2021-08-20 01:02] #319 closed

[2021-08-29 14:24] moodmosaic commented on #332
@TysonMN no we don't have that yet.

[2021-08-30 01:43] TysonMN commented on #332
Ok, thanks for letting me know.

I will try again this week to implement this feature.

[2021-08-31 06:58] AlexeyRaga opened #333 "Does Hedgehog return an incorrect value on failure?"
I am running a test with a simple condition:

[code]

I see in debug that it fails properly and the value is shrunk properly to the failure case of a single `a` character (see the screenshot)

![image](https://user-images.githubusercontent.com/1394391/131456018-79a9ad8a-42a4-4b29-ac3f-e74492d61268.png)

I also see in debug that this is the last shrink, i.e. the test is not getting called anymore.

[2021-08-31 07:13] AlexeyRaga commented on #333
Oh, there is more to that!
`a` is `97` and the backtick is `96`!

When I set my condition to be `s.Reason.Contains('b') -> Nack` then Hedgehog prints `a`.
For `c` it prints `b`, etc.

Can it be that there is an `off-by-one` problem somewhere in reporting test results?

I also checked, and it seems like the value gets `ToString()`'d correctly, so it should not be the fault of the `ToString` impleme

[2021-08-31 12:26] TysonMN commented on #333
Thanks for the report.  I will investigate this later today.

[2021-09-01 00:48] TysonMN commented on #333
Can you share a complete test with the behavior you described?

[2021-09-02 07:03] AlexeyRaga commented on #333
No, not the one where I see this behaviour, this is company's private codebase.

But I'll try to find time to make another one if you can't reproduce it otherwise.

[2021-09-02 23:30] TysonMN commented on #333
`Hedgehog.Xunit` depends on `Hedgehog.Experimental` which depends on `Hedgehog`.  This is not a bug in `Hedgehog.Xunit` because of this reproduction.
[code]

[code]

My currently feeling is that this is a bug in `Hedgehog.Experimental`, but I could be wrong.

[2021-09-02 23:34] TysonMN commented on #333
Another thing that is wrong about this is that the `int` value is different every time.

[2021-09-02 23:51] TysonMN commented on #333
The generators `Hedgehog.Experimental` uses for `string` and `int` are [`Gen.string (Range.linear 0 50) Gen.latin1`](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/439159cd7cbf99b793bae3eac59dd02a9192d7a8/src/Hedgehog.Experimental/Gen.fs#L376) and [`Gen.int <| Range.exponentialBounded ()`](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/439159cd7cbf99b793bae3eac59d

[2021-09-02 23:53] TysonMN commented on #333
@moodmosaic, can you transfer this issue to [fsharp-hedgehog-experimental](https://github.com/hedgehogqa/fsharp-hedgehog-experimental)?

[2021-09-03 00:10] TysonMN commented on #333
Here is a test that currently fails but would pass if this bug didn't exist.
[code]

[2021-09-03 01:20] TysonMN commented on #333
Actually, maybe this isn't technically a bug in `Hedgehog.Experimental`.

[`Hedgehog.Experimental` mutates in the `gen` computational expression when generating a record instance](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/439159cd7cbf99b793bae3eac59dd02a9192d7a8/src/Hedgehog.Experimental/Gen.fs#L471-L482)...
[code]

...but we already know that Hedgehog doesn't shrink correctl

[2021-09-03 03:35] TysonMN commented on #333
Here is the PR https://github.com/hedgehogqa/fsharp-hedgehog-experimental/pull/51

[2021-09-04 15:02] TysonMN commented on #192
PR https://github.com/hedgehogqa/fsharp-hedgehog-experimental/pull/53 implements a workaround in "client code" for the motivating example in the OP of this issue.

I think this issue can be closed.  The issue about mutation in generators can continue to be tracked via #157.

[2021-09-04 15:04] cmeeren commented on #192
Actually, I'll leave it to the maintainers of this repo to decide whether to close this.

[2021-09-04 17:13] #317 closed

[2021-09-05 02:43] TysonMN commented on #223
Hedgehog is hardcoded to give up after 100 discards...
https://github.com/hedgehogqa/fsharp-hedgehog/blob/81a7502f47cf7704181b87ec4293f1c52c65c96f/src/Hedgehog/Property.fs#L153-L156

...and by default never gives up on shrinking.
https://github.com/hedgehogqa/fsharp-hedgehog/blob/81a7502f47cf7704181b87ec4293f1c52c65c96f/src/Hedgehog/PropertyConfig.fs#L11-L13

@cmeeren, do you recall if your test c

[2021-09-05 08:22] cmeeren commented on #223
It's been a while, but I'm fairly sure I didn't.

No idea, sorry.

[2021-09-05 11:25] TysonMN commented on #223
Then I am thinking that we don't have enough information to investigate further.

Ironically though, your description here is rather consistent with the behavior we are seeing in the draft PR https://github.com/hedgehogqa/fsharp-hedgehog-experimental/pull/55.

[2021-09-05 15:56] TysonMN commented on #268
Oh, I realized how the applicative behavior would differ from the monadic behavior.

Hedgehog currently shrinks "multiple" generators sequentially.  This is required for the monadic behavior. The applicative behavior could be different; it could for example, cyclically shrink the generators until no improvement is possible (i.e. a Pareto optimal position).

I find this very interesting.

[2021-09-05 15:58] TysonMN commented on #268
@moodmosaic, does Haskell Hedgehog have this applicative behavior?

[2021-09-06 19:06] TysonMN opened #335 "Use-case specific naming in Tree"
I would prefer if the `Tree` type, module, and function used language that was use-case agnostic.  Instead, for example, the function that returns the root of the tree is called `outcome`.

[2021-09-07 13:43] moodmosaic commented on #268
That should be possible according to @edsko's [article](https://well-typed.com/blog/2019/05/integrated-shrinking/#example-generating-pairs) (which is _the_ reference). Though I don't have ghci in front me.

[2021-09-07 20:50] adam-becker commented on #268
I was thinking of how this could differ, especially wrt `apply`'s implied behavior of being the "parallel" equivalent to `bind`'s "sequential" behavior. Perhaps all of the applied parameters receive the same seed and grow together? Unless that's what was already mentioned.

That would be an interesting way to control the integrated shrinking behavior of Hedgehog.

[2021-09-07 22:41] TysonMN commented on #268
My intuition is that the applicative behavior of `Random<>` should match its monadic behavior.

I don't think that would be a good idea. Then applicatively generating a list would produce a list with the same value throughout.

I don't know what you mean by "grow".

[2021-09-08 11:18] TysonMN opened #339 "Applicative ListGen.traverse"
Like PR #338, in preparation for #268, let's implement `ListGen.traverse` applicatively.

[2021-09-09 04:01] dharmaturtle opened #341 "TimeBox a Property test"
I'm building a `TimeboxedPropertyAttribute` for Hedgehog.Xunit. Its documentation:

Raison d'être: I have some tests that take a while to run. During development, I don't care _that_ much about correctness and will therefore timebox said tests. I'll flip them back to normal `property` tests before committing/merging. Since a test might only run once if the timebox is extremely short, I want a rand

[2021-09-09 11:05] TysonMN commented on #341
[code]

Due to F# bug https://github.com/dotnet/fsharp/issues/6984, you should not write tail recursive calls with pipe operators.

[2021-09-09 23:22] TysonMN commented on #341
This all seems reasonable to me. I think it could be directly added to Hedgehog.

[2021-09-10 14:29] adam-becker opened #343 "Simplifying property configuration"
### Discussed in https://github.com/hedgehogqa/fsharp-hedgehog/discussions/342

<div type='discussions-op-text'>

<sup>Originally posted by **adam-becker** September  9, 2021</sup>
I've been skimming over the property module, and I think it needs some TLC. We have no fewer than 8 `report` methods, and I think we can probably do better here. What I was thinking is that we could maybe make combinato

[2021-09-11 18:00] #327 closed

[2021-09-11 18:07] adam-becker commented on #177
I don't know if this is still an issue. I tried running the benchmarks with `10,000` cases and it didn't overflow, the comment on the benchmark said it would with that value. Closing for now, if this re-emerges please open a new issue.

[2021-09-11 18:07] #177 closed

[2021-09-11 18:11] TysonMN commented on #177
I also tried some overflow tests lately, and I was a bit confused that I was not getting overflows.  Even if 10,000 would cause an overflow, it is not that important.  I don't expect anyone to get anywhere near the overflow limit in practice.  As such, this work was mostly of theoretical interest.  I am fine having this closed.

[2021-09-11 18:38] adam-becker commented on #335
I noticed this naming as well. Bad naming isn't limited to just the tree module, of course. But I'm okay with changing the names in this module to be more general. What names would you propose we use here going forward?

[2021-09-11 18:40] adam-becker commented on #339
I think the remaining work around #268 is going to be delayed to `0.12.0`, but I'm in favor of doing this. 💯

[2021-09-11 18:42] adam-becker commented on #322
@TysonMN That example was just typed into the comment editor, I think you got the gist of what I was going for. I think we should move type annotations/doc comments to `.fsi` files. There is a _lot_ of clutter in the source files that could be moved out, and `.fsi` files are the recommended way of doing this.

[2021-09-11 18:52] TysonMN commented on #339
I don't care when these features get released.  I am implementing them because I enjoy the work so much :)

[2021-09-11 21:44] adam-becker commented on #341
We may need to flesh out some "stop condition" concept in light of this. I've seen this come up in various ways:

- Stop if shrink limit is hit, then fail.
- Stop if test count is hit, then succeed.
- Stop if test runs longer than x, then succeed.

I'd like to hear thoughts on how this could be unified or expressed better. I think keeping the API flexible with combinators and allowing the user to

[2021-09-11 21:49] adam-becker commented on #339
That's fine, just pointing out that I'm going to start only merging things for 0.11.0 so we can get it out the door. At some point our users need to get their hands on all of the fun things you make :)

[2021-09-12 00:59] TysonMN commented on #335
From memory, there are the renames that I recall wanting.
`Tree.outcome` -> `Tree.root`
`Tree.shrinks` -> `Tree.children`

[2021-09-12 01:18] #154 closed

[2021-09-12 14:24] #331 closed

[2021-09-14 16:14] lupin-de-mid opened #359 "Add csharp complex generator example"
In tutorial we have sample for genarator of  IpAddress

[code]

Anybody could check my translation to  csharp?  It is'nt idiomatic csharp IMHO

[code]

May be it's suitable to add  csharp.md with more examples?
Right now I try get how to use `Property.CounterExample`

[2021-09-15 22:32] adam-becker commented on #359
@lupin-de-mid I think the following example may be more what you're looking for.

[code]

I think that's a good idea. I am starting to think the README.md is a little cluttered.

From the C# side this may be a little clunky still. I'm on a work machine right now and don't have the repo cloned, I'll take a look after I switch to my personal machine.

[2021-09-16 03:19] TysonMN commented on #359
I think the first code block by @adam-becker is better.  The advantage of LINQ query syntax is avoiding the [pyramid of doom](https://en.wikipedia.org/wiki/Pyramid_of_doom_(programming)) that results from nested calls to `Bind`.  Since that isn't the case here, its use is not warranted.

[2021-09-16 12:08] TysonMN commented on #322
Can you link to that part?

The visual aesthetic of generated code doesn't matter, and I prefer to use a profiler to determine that some code is inefficient (because of such implementation details).

Would  `.fsi` files allow us to give better names to these arguments without changing the implementation?

Unfortunately I don't because my code uses a backwards pipe operator, and my impression is th

[2021-09-16 15:19] adam-becker commented on #359
Just noting that it's possible :)

[2021-09-16 15:37] adam-becker commented on #322
The last time I read the guidelines, they suggest using `.fsi` files for public APIs, and those generally prevent the kind of programming you're talking about. Also, I know I'd much rather look at a function like:

[code]

Over

[code]

Parameter names, and the occasional type annotation, can really help readability along. And from a user perspective, I'd rather see:

[code]

Over

[code]

Entirel

[2021-09-16 23:08] TysonMN commented on #322
Does it still say that?  Can you share a link so that we can all get on the same page?

I agree.  I am not suggesting that we eta-reduce as much as possible.  I am asking if we should the opposite: should we "
Name all arguments and include all type annotations in public API?"

That is an example of generated documentation, not generated code.  Does this observation change your answer?

It is cert

[2021-09-17 15:43] adam-becker commented on #322
It does. [Here][compo]'s the link to the overall guidelines, and [here][compo-fsi]'s the portion about `.fsi`.

Name all arguments and include all type annotations in public API?"

If that's your suggestion, then 100% yes is the answer. 😅

Not at all, it's a very reasonable thing. What I was getting at is that some things are obviously slow (such as allocating) and we need to be _really_ careful g

[2021-09-18 14:53] dharmaturtle commented on #326
I'm thinking about the interplay between `GenConfig` and `PropertyConfig`. Might we have something like `PropertyConfig.withGenConfig`, or is that too much 🤪

Also, would it be reasonable to eventually add `size` and/or `seed` to `GenConfig`?

...and if so, how would we explain to users why they're on `GenConfig` and not `PropertyConfig`? 😅

[2021-09-21 04:47] adam-becker commented on #110
@moodmosaic what would we need to implement from where we are now to get this done?

[2021-09-21 05:09] adam-becker commented on #192
Closing in favor of #157.

[2021-09-21 05:09] #192 closed

[2021-09-21 08:52] moodmosaic commented on #110
Now, in 2021, I would try to avoid adding a dedicated API for state-machine testing.

Instead, I would add the example code above in the README/docs, or in its own test-suite, and be done with it.

As @jacobstanley also describes in his [post](https://jacobstanley.io/how-to-use-hedgehog-to-test-a-real-world-large-scale-stateful-app/):

This has been true also IME, in various shops/groups I've help

[2021-09-21 16:51] adam-becker commented on #182
@cmeeren Do you have a few things in mind that you'd like to move from experimental over to Hedgehog proper? I'd like to do this for `0.12.0`.

[2021-09-21 17:12] adam-becker opened #365 "Unifying `Property<unit>` and `Property<bool>`"
I've been looking through Haskell Hedgehog recently, and I noticed that their `Property` type is not polymorphic. I'd like to get the F# version in line with this, and I have some ideas on how this might be done, though I'm very open to ideas/suggestions here.

[code]

This API would be used like so:

[code]

I'm still unsure how we would support `counterexample` and maybe another function or two

[2021-09-21 17:16] adam-becker commented on #143
Resolved with #362.

[2021-09-21 17:16] #143 closed

[2021-09-21 17:19] adam-becker commented on #365
Possible solution for #128.

[2021-09-21 18:49] cmeeren commented on #182
To be honest I've practically abandoned active development of Hedgehog.Experimental and now just fix bugs as they are reported. I actively use it though. I don't really care that much whether the stuff there stays there or gets merged into the main package. Personally I'm fine with the way things are now.

[2021-09-21 19:13] adam-becker opened #366 "Bootstrap Hedgehog"
I think it would be a good idea to use the most recent stable version of Hedgehog to test the next/unstable version. Having property tests for Hedgehog itself would make the codebase much stronger (I realize we already use the current version for some tests), but I don't think using the unstable version to test itself is a good idea.

I'm also open to using another PBT library (FsCheck, etc) for t

[2021-09-21 19:52] adam-becker commented on #182
Understood.

In that case, maybe @moodmosaic or @TysonMN have stronger opinions?

[2021-09-21 23:26] TysonMN commented on #366
I really like this idea, but I don't know how to bootstrap in a compiled language.  [Here is a post by Mark Seemann](https://blog.ploeh.dk/2021/01/04/dynamic-test-oracles-for-rho-problems/) with someone discussion on this topic.

[2021-09-21 23:31] TysonMN commented on #182
I am in favor of moving everything to the Hedgehog project, but I don't care much either way.

[2021-09-22 01:40] TysonMN commented on #365
I previously expressed some push back to this issue (in https://github.com/hedgehogqa/fsharp-hedgehog/pull/310#issuecomment-915151695 and especially https://github.com/hedgehogqa/fsharp-hedgehog/pull/336#issuecomment-915739936).

I no longer hold either of those positions.  In particular, F#'s CE builder is expressive enough to do what we want (c.f. PR #364).

I now agree with this change in princ

[2021-09-22 07:48] moodmosaic commented on #182
Perhaps you want to move `auto` if you're heavily using it.

But I wouldn't move each and every combinator as that'll increase maintenance and it'll make it hard(er) to draw a line; people might come in wanting to add more and more combinators.

[2021-09-22 07:50] moodmosaic commented on #182
Also, IIRC, the coding style is different between the two codebases(?) Perhaps you'd want to look into that as well.

[2021-09-22 07:57] moodmosaic commented on #366
I'd bootstrap in (kind of ) the same way as [F# compiler bootstraps](https://github.com/dotnet/fsharp/blob/main/docs/compiler-guide.md#bootstrapping); in our case the latest stable *major* release can be used to build a "proto" Hedgehog assembly.

[2021-09-22 11:55] TysonMN commented on #366
Won't there be a name conflict among DLLs (two wanting to be called `Hedgehog`)?

[2021-09-22 11:58] moodmosaic commented on #366
Perhaps there can always be a pre-compiled Hedgehog-proto.dll (that we can trust, e.g. knowing its SHA256).

[2021-09-22 12:01] TysonMN commented on #366
I hope I am wrong, because I am very interested in getting this to work.

[2021-09-22 14:27] adam-becker commented on #182
I was thinking maybe we bring the entire repo in as another project in the solution at first as having two completely separate repos doesn't make a ton of sense to me here. I'd be fine keeping the packaging the exact same as it is now, etc, but maybe we can have one less repo in the hedgehogqa org.

:+1:

[2021-09-22 14:53] adam-becker commented on #366
Another issue for sure would be namespace collisions when we try and test ourselves 😅, this will have to be looked into. Right now, the only thing I can think of is changing the namespace based on some `#pragma` but this could get nasty and difficult to maintain.

[2021-09-22 14:57] dharmaturtle commented on #366
Diving into implementation, [this SO answer](https://stackoverflow.com/a/22486097) suggests using [`extern alias`](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/extern-alias). Unfortunately, [F# doesn't support this](https://github.com/fsharp/fslang-suggestions/issues/513). The mentioned workaround of "A C# shim project..." may not work, according to [this SO comment](

[2021-09-22 15:12] adam-becker commented on #182
What would be the proper way to handle this "mechanically"? Would we just copy/paste the contents of the repo? Or do we want to preserve the history of `fsharp-hedgehog-experimental` by merging an "unrelated history" into a sub-folder in this repo?

[2021-09-22 15:16] moodmosaic commented on #182
A git submodule would be preferred, no?

[2021-09-22 15:17] adam-becker commented on #366
I never knew about this feature, interesting!

Are you suggesting that we would use the `Hedgehog.Linq` interface and write the tests in C#? That's less than ideal, but it may be a decent starting point.

[2021-09-22 15:37] adam-becker opened #369 "Release 0.11.0"
It's been a long time coming, but we're finally ready to release `0.11.0`! I'd like to thank everyone that helped get [this milestone][milestone] completed. If you'd like your name withheld from the changelog, please let me know in the next day or so. 🎉

/cc @TysonMN @dharmaturtle @altxt @ThisFunctionalTom @lupin-de-mid @moodmosaic

[milestone]: https://github.com/hedgehogqa/fsharp-hedgehog/milest

[2021-09-22 16:22] dharmaturtle commented on #366
Yep... at least it (necessarily) improves test coverage.

I _believe_ we would be referencing an old version of Hedgehog (e.g. 0.10), possibly via Nuget.

To float another idea, during a release, we could run a script that changes all the namespaces to include the version (e.g. `Hedgehog_proto_0_11`), publishes it to Nuget, then unlists it. (You can't delete a package off Nuget.) I currently don't

[2021-09-22 16:42] adam-becker commented on #366
The stuff from nuget would be fine, but the code we're testing wouldn't show up at all. This is a minor issue that shouldn't dictate our solution, but it's something to note.

I was actually considering pulling the code for a release from github and running `sed -i /namespace Hedgehog/namespace Hedgehog.Latest/` or something along those lines.. 😅

[2021-09-22 16:49] #369 closed

[2021-09-22 17:05] adam-becker commented on #182
A submodule would work, for sure. The issue there is that it remains a separate repo.. I agree with keeping `Experimental` as a separate project, but I think it can happily coexist in the `fsharp-hedgehog` repo. The separate repo just adds overhead all around 🤷🏼

[2021-09-22 17:22] adam-becker commented on #135
I'm trying to capture this testing in a script, I've come up with this (Requires F# 5 tooling for nuget references):

[code]

Running this produces the following:

[code]

I believe one reason for this disparity is our reliance on `BigInt` internally. We should probably switch to `uint64` or `int64`, since they don't allocate on arithmetic operations. This is pure conjecture, and we'll need some p

[2021-09-22 17:33] adam-becker commented on #135
After a quick switch to `int64` for our internal "large integer" type, I increased the speed by about 33%:

[code]

This is a PoC for `BigInt` being a bottleneck.

[2021-09-22 17:42] adam-becker opened #371 "Replace `BigInt` with a native type"
Our use of `BigInt` internally is the cause of some slowness, and I've shown in https://github.com/hedgehogqa/fsharp-hedgehog/issues/135#issuecomment-925136736 that by replacing it we can get immediate efficiency improvements. This however can't be done naively, so we'll need to consider how we support generation of `uint64`, `int64`, `double`, and `bigint` with a different internal type.

Somethi

[2021-09-22 18:24] cmeeren commented on #182
Concerning merging repos: Feel free. 👍 But if this is done, I think I'll consider what is now in Experimental to be maintained by the current maintainers of this (the main) repo, and I'll withdraw from maintenance of Experimental. (Which, again, is not particularly actively maintained now anyway.) I'll transfer the NuGet package ownership to you in that case.

In any case, I have no strong desire

[2021-09-23 00:48] TysonMN commented on #365
My ability to read Haskell is not as good as I want, so I will take your word it.

[2021-09-23 00:52] TysonMN commented on #366
GitHub can host NuGet packages within each repository, so we could host the NuGet packages there.

[2021-09-23 00:57] TysonMN commented on #135
Instead of in a script with custom benchmarking work, can you do this in the Benchmark project with `BenchmarkDotNet`?

[2021-09-23 00:58] TysonMN commented on #371
Can you first create benchmarks in the benchmark project using `BenchmarkDotNet`?

[2021-09-23 01:03] TysonMN commented on #182
I would prefer not to have a submodule, but I won't advocate against it.

I don't think the history is important, so I think copy-pasting the code would be fine to me.

[2021-09-23 06:12] cmeeren commented on #135
Yes, always use BenchmarkDotNet (or a similar tool, if it exists) for such benchmarking. 👍

[2021-09-23 06:16] cmeeren commented on #135
Also, in the OP, the numbers I quoted indicate that Hedgehog takes ~32 times longer than FsCheck. A speed-up of 33% is great, but there is still a difference of more than 3000%.

[2021-09-23 06:42] moodmosaic commented on #182
I think history _is_ important because you'll be moving code that's written by someone else (@cmeeren) and @cmeeren might not be around (at some point/after a while) to answer questions and then git history is all we got.

If we just move the code over, we can at least mark the git commit SHA-1 and then make readonly/archive the experimental repo so that the history there can't be altered. (So in

[2021-09-23 09:50] TysonMN commented on #182
Sure, we can keep that repository around.  What I meant is that I don't think we need you are the history of that code in this repository.

[2021-09-23 11:40] moodmosaic commented on #182
Then, perhaps something like this comment is all we want https://github.com/hedgehogqa/fsharp-hedgehog/blob/8036e28f7fff61efdda2119cd9a7cbd1963d13c3/src/Hedgehog/Numeric.fs#L3-L4

[2021-09-23 12:16] TysonMN commented on #182
Yes, that comment could be at the top of each file or in a single file a the root of the folder containing all copied files.

[2021-09-23 13:45] cmeeren commented on #182
Concerning different code styles: The [F# code formatting guidelines](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting) just received an overhaul/facelift. They now strongly recommend the use of Fantomas with default settings for formatting code. (In VS, the "F# Formatting" extension enables this.) You could consider simply formatting everything with Fantomas, for consistency.

[2021-09-23 20:41] adam-becker commented on #135
The script wasn't meant to be authoritative, just something I could run repeatedly while tweaking things to suss out low hanging fruit.

A journey of a thousand miles begins with a single step. My gut feeling tells me that we're probably allocating too much in hot paths, but we'll let the benchmarks be the guide 😉

[2021-09-24 00:06] TysonMN commented on #135
And a journey by Zeno has infinitely many steps and essentially goes nowhere, so it is important to optimize things in decreasing order of ROI.

[2021-09-30 00:47] TysonMN opened #377 "Improve Gen.list by only testing [] once"
I want to improve `Gen.list`.  Actually, what I really want to do is (better) understand `Gen.list`, and I will be more motivated to do this by having a specific goal to improve it.

Below is code that (if you are lucky) has the following output.  It shows that `[]` is tested many times.  Maybe I can figure out how to remove the repeated tests of `[]`.

Requiring luck to investigate this issue slo

[2021-09-30 01:02] TysonMN commented on #377
As a secondary goal, I want to generalize this code slightly so that I can also use it to generate multi-dimensional arrays.  [The code I recently wrote for multi-dimensional arrays](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/117caaab3995bfec47af29b2ce8117264cff1f52/src/Hedgehog.Experimental/Gen.fs#L497-L506) first picks the size and then picks the entries, so after some entry

[2021-09-30 01:05] TysonMN commented on #377
Oh, but actually `[0]` can be tested there three times and two of those times are duplicates: twice the sublist `[0]` obtained by dropping the element at index 1 is tested.  It seems possible to me that that can be avoided.

[2021-11-18 10:03] samritchie opened #381 "NRE when printing failure report with a generated `None` value"
I’m seeing crashes when rendering the failure report for a property with a `Gen.option` that has generated `None`. A minimal failing case (using NUnit):

[code]

throws the following:

[code]

I’m using dotnet 6.0.100, macOS 11.6.1, Hedgehog 0.11, NUnit 3.13.2, NUnitTestAdapter 4.1

[2021-11-19 02:09] #381 closed

[2021-11-19 02:18] TysonMN commented on #381
PR #382 fixes this bug and [release 0.11.1](https://www.nuget.org/packages/Hedgehog/0.11.1) contains the fix

[2021-11-19 02:19] TysonMN commented on #381
Thanks @samritchie for the bug report and simple reproduction :)

[2021-11-19 02:24] samritchie commented on #381
Thanks for the quick fix!

[2021-11-21 13:33] TysonMN opened #383 "Change recheck functions to accept Base64 encoding"
Issue #332 is a feature request to only recheck the shrunken input.  To achieve this goal, PR #336 wants the recheck functions to also accept the path through the shrink tree to the shrunken input.  To make that change easier, we can modify the recheck functions to accept a Base64-encoded string of the recheck arguments.

[Here](https://stackoverflow.com/questions/11743160/how-do-i-encode-and-deco

[2021-11-29 04:32] #383 closed

[2021-12-12 19:11] #332 closed

[2021-12-13 16:17] TysonMN commented on #332
This feature is now available in [version 0.12.0](https://www.nuget.org/packages/Hedgehog/0.12.0).

[2021-12-13 16:35] moodmosaic commented on #332
Awesome, great work, @TysonMN.

[2021-12-20 02:31] TysonMN commented on #272
I was wrong; these behaviors are different.  [This blog post](https://well-typed.com/blog/2019/05/integrated-shrinking) does a good job explaining the difference.

[2021-12-22 02:28] TysonMN opened #397 "Applicative behavior for Gen.apply"
Currently the behavior of `Gen.apply` is monadic, but it should be applicative.

https://github.com/hedgehogqa/fsharp-hedgehog/blob/76787a5f2e7414913853bf981dd9855fcb0684d2/src/Hedgehog/Gen.fs#L55-L57

[2021-12-30 15:33] #397 closed

[2021-12-30 20:03] #339 closed

[2022-01-01 01:17] #268 closed

[2022-01-01 01:25] TysonMN commented on #397
This is included in [version 0.12.1](https://www.nuget.org/packages/Hedgehog/0.12.1).

[2022-01-01 01:25] TysonMN commented on #339
This is included in [version 0.12.1](https://www.nuget.org/packages/Hedgehog/0.12.1).

[2022-01-01 01:25] TysonMN commented on #268
This is included in [version 0.12.1](https://www.nuget.org/packages/Hedgehog/0.12.1).

[2022-04-24 22:56] dharmaturtle opened #408 "`recheck` always fails"
I have the following test:

[code]

It fails (as expected) with the following error:

[code]

I plug the suggested `recheck` into the test:

[code]

It fails with

[code]

Great! Let's now make the test pass (trivially):

[code]

But it doesn't pass!

[code]

Is this intended behavior?

[2022-04-25 03:57] TysonMN commented on #408
No.  The actual behavior is not the intended behavior.  The behavior you expected in the intended behavior.

I have a guess about the cause of the bug.  When rechecking, I might have assumed failure.  Clearly I should not be assuming that.

[2022-05-13 22:17] the-not-mad-psychologist opened #410 ""where" after definition but before use marks identifier as unused"
In this code sample, both JetBrains Rider and Visual Studio mark `i` as unused.

[code]

If we define `i` after the `where`, though, no error is shown.

[code]

[2022-05-13 23:23] TysonMN commented on #410
Your first code block has two `where`s. Is that a typo?

[2022-05-14 01:38] the-not-mad-psychologist commented on #410
@TysonMN Corrected, thank you!

[2022-05-14 03:56] TysonMN commented on #410
Can you try to simplify this to a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_reproducible_example)?

[2022-05-14 13:52] the-not-mad-psychologist commented on #410
@TysonMN Fair enough. How is this?

[code]

[2022-05-14 16:54] TysonMN commented on #410
Is it also reported as unused if `where true` is replaced by `where false`?

[2022-05-14 20:13] the-not-mad-psychologist commented on #410
It is.

[2022-05-14 23:43] TysonMN commented on #410
Can you check if this also happens with the `seq` CE?  If it does, then the problem has nothing to do with F# Hedgehog.

[2022-05-15 00:03] the-not-mad-psychologist commented on #410
Pardon. Does `seq` have a `where` keyword?

[2022-05-15 00:51] TysonMN commented on #410
The `seq` type has `where` semantics, so I was assuming that it's CE would have that syntax, but my assumption could be wrong.  Are you saying that it lacks a `where` keyword?

[2022-05-15 01:13] the-not-mad-psychologist commented on #410
I'm saying that, if it exists, I can find no documentation for it. Also:
[code]

[2022-05-15 01:39] TysonMN commented on #410
I should have checked this first... `where` is a custom keyword in our `property` CE:
https://github.com/hedgehogqa/fsharp-hedgehog/blob/d9b0e7eacef9b41d0a95289cf273d12f995c66a9/src/Hedgehog/Property.fs#L351-L353

[2022-05-15 01:57] TysonMN commented on #410
I don't think this issue is caused by F# Hedgehog.  I am using...

...and don't have that problem.

![2022-05-14_20-52-04_705_devenv](https://user-images.githubusercontent.com/34664007/168453877-4652bcf5-f31b-4998-9bca-2c32fee8d4f2.png)

What IDE (and version) are you using?

That screenshot shows this test...

[code]

...which is more minimal that yours because `GenX` is defined in [`fsharp-hedge

[2022-05-15 12:49] TysonMN commented on #410
Nevermind, I do have this problem.  I think I needed to turn on warnings for unused values first ([like this](https://github.com/elmish/Elmish.WPF/blob/a35898abf2ac3d5fc33b9eb81de6e6d590a0e1e7/src/Elmish.WPF/Elmish.WPF.fsproj#L24)).

Here is an reproduction that already exists in the F# Hedgehog codebase:
https://github.com/hedgehogqa/fsharp-hedgehog/blob/830ef95cbcd6cdfcec5563f09841fb40371f836c/t

[2022-05-15 12:53] TysonMN commented on #410
To investigate this further, I would next try to reproduce this without involving F# Hedgehog.  Want to give that a try?

[2022-05-16 10:51] TysonMN commented on #410
You can start with a CE for the [identity monad](https://blog.ploeh.dk/2022/05/16/the-identity-monad/).

[2022-05-17 15:48] the-not-mad-psychologist commented on #410
Okay, here's my clumsy expansion of Mark Seemann's version and its results:
[code]

[2022-05-17 15:53] the-not-mad-psychologist commented on #410
This is most strange! Does a custom operation somehow absorb the identifiers defined before it?

[2022-05-18 11:50] TysonMN commented on #410
You can simplify your reproduction by inlining `Identity.filter` and `Identity.bind`.  See if you can simplify further by removing any of the CE's methods.  My guess is that you can also simplify the CE use by removing `x`.  Also replace `47` with `0`.

[2022-05-18 13:41] the-not-mad-psychologist commented on #410
Here's a simplified version, then.

[code]

[2022-05-19 13:10] cmeeren commented on #25
I have come to the realization that this is a fairly important feature to me. Without it, for anything but trivial generators, I often feel like I'm flying a bit blind.

After having thought a bit about it and re-watched the talk I linked to above, I think the following would be the most useful features:

1. A way to specify the required test coverage and have the test fail if the coverage of any

[2022-05-19 13:32] moodmosaic commented on #25
Essentially what we want is to add coverage combinators: `cover`, `classify`, `label`, and `collect`.

---

**Notes**

In the Haskell version:

[`cover`](https://hackage.haskell.org/package/hedgehog/docs/Hedgehog.html#v:cover) records the number of times a predicate is satisfied and displays the result as a percentage. If the percentage doesn’t meet your threshold then the test fails.

[`classify`

[2022-05-19 16:00] cmeeren commented on #25
According to [the video](https://www.youtube.com/watch?v=NcJOiQlzlXQ&t=2437s), it also runs more tests as needed to ensure the result is statistically significant.

[2022-05-20 08:06] cmeeren commented on #25
Also, not sure what you mean by "combinators". Syntax-wise, this could also take the form of custom keywords for the `property` CE, right?

[2022-05-20 08:37] moodmosaic commented on #25
Agreed 👍 That's what I mean; custom CE keywords are better. Those keywords may are use the underlying combinators (to be added) in the Property module.

[2022-05-20 11:22] TysonMN commented on #25
This is all such a nerd snipe for me.  All your links to external references and explanation of the Haskell implementation will be very helpful.  Now the only question is when I will get to this.

[2022-05-20 11:54] #410 closed

[2022-06-03 15:26] LyndonGingerich opened #411 "Can't build library"
I wish to learn more about the library and perhaps contribute to it, but I'm having significant difficulty getting started. I installed .NET Framework 4.5 and .NET 5.0, but I still get this stack of errors when I try to build the solution:

[code]

How can I resolve this?

Could we perchance upgrade Hedgehog to .NET 6 and .NET Framework 4.8 since .NET 5 and .NET Framework 4.5 have reach EOL?

[2022-06-03 20:30] TysonMN commented on #411
Does this happen when you try to build via the command line or an IDE?

[2022-06-03 20:39] the-not-mad-psychologist commented on #411
That was using an IDE. Here are the errors from building via CLI.
[code]

[2022-06-03 20:48] moodmosaic commented on #411
Thank you for reporting this. Out of curiosity, have you tried `dotnet build` from the command line?

[2022-06-03 20:50] the-not-mad-psychologist commented on #411
After Tyson suggested doing so, I ran the command and published the resulting errors in my previous post.

[2022-06-03 20:54] moodmosaic commented on #411
Unless @TysonMN has a better idea, this looks like something is corrupted in the .nuget cache? 😕

[2022-06-04 00:01] TysonMN commented on #411
Sure.  Trying deleting `C:\Users\Lyndon.G\.nuget`.

Also, can you figure out what command produces the output seen in [this comment](https://githubhot.com/repo/dotnet/fsharp/issues/12239) from `dotnet` and share with us your your output from that command?

If neither of those work, you could try `<FSharpPreferNetFrameworkTools>false</FSharpPreferNetFrameworkTools>` as suggested in that thread.

[2022-06-06 13:45] the-not-mad-psychologist commented on #411
`FSharpPreferNetFrameworkTools` doesn't help, assuming it's supposed to go in the `fsproj` `PropertyGroup`s.

Output of `dotnet sdk check`:
[code]

I'm on Windows 10 Pro 10.0.19044.

Anything else?

[2022-06-07 00:04] TysonMN commented on #411
I wonder if your referring to the version of the SDK used to build the code or the target version, which sets a lower bound on the version of the runtime.

I don't think we need to change the target version.

For the SDK version, sure.  Please create a PR that updates [this line]https://github.com/hedgehogqa/fsharp-hedgehog/blob/master/.github/workflows/pull_request.yml#L21) and [this line](https:

[2022-06-09 11:42] TysonMN commented on #411
How many computers can you test this on? For example, do you have a computer at home and a computer at work?

[2022-06-09 12:40] the-not-mad-psychologist commented on #411
I have a computer at home, but even if it built on my home computer, I would be using and contributing to this library only from my work computer.

[2022-06-09 14:10] TysonMN commented on #411
Sure. I was just wondering if you could test this on another computer.

[2022-07-18 12:55] TysonMN opened #414 "Warn if some value is unused"
There is a bug in F# that prevents this project from turning on warnings for unused values.

[code]

[2022-07-18 13:36] TysonMN commented on #414
Blocked by F# bug https://github.com/dotnet/fsharp/issues/10167

[2022-07-21 10:06] AlexeyRaga commented on #408
Bump!
I stumbled upon the same issue where `recheck` always fails. Which is extremely misleading, and also brings a lot of frustration to my colleagues adopting property-based testing and Hedgehog.

[2022-07-21 11:12] TysonMN commented on #408
Sorry!  I will fix this now.

[2022-07-22 04:10] TysonMN commented on #411
@LyndonGingerich, if you change the targets to newer versions (like in PR https://github.com/elmish/Elmish.WPF/pull/488), can you build then?

[2022-07-22 14:40] LyndonGingerich commented on #411
Changing the targets worked after I also used NuGet to upgrade FSharp.Core. Many thanks!

[2022-07-22 21:46] dharmaturtle commented on #411
FWIW I got the same error ("Error opening binary file... Stream does not support writing.") when using VS 2022. This was on a freshly formatted Win10 machine. The error went away when I went down to VS 2019. [This is a known issue.](https://github.com/dotnet/fsharp/issues/12239)

[2022-07-23 03:56] #408 closed

[2022-07-23 05:06] TysonMN commented on #411
Resolved by PR #416

[2022-07-23 05:06] #411 closed

[2022-07-23 05:06] TysonMN commented on #408
First included in [version `0.13.0`](https://www.nuget.org/packages/Hedgehog/0.13.0)

[2022-07-23 05:06] TysonMN commented on #411
First included in [version `0.13.0`](https://www.nuget.org/packages/Hedgehog/0.13.0)

[2022-07-23 05:07] TysonMN commented on #408
Sorry everyone for how long I waited before fixing this bug.  In hindsight, it was an easy fix.  I was expecting it to be difficult, so I kept putting it off.

[2022-07-24 21:21] TysonMN commented on #411
I know I suggested to copy this PR from Elmish.WPF.  However, what is the advantage of multi-targeting for this library?

[2022-07-25 13:54] LyndonGingerich commented on #411
Not knowing which libraries were still used, I simply upgraded each target to a version under support if possible and removed it otherwise.

[2022-07-26 04:19] TysonMN commented on #411
I am not talking about users.

Projects targeting `net48` or `net6.0` can depend on projects that target `netstandard2.0` ([.NET Standard documentation] (https://docs.microsoft.com/en-us/dotnet/standard/net-standard)).

A project targeting any version of .NET (Core) can depend on a project that targets `netstandard2.0`.

I think you were too aggressive when you replaced `net45` with `net48`.  The

[2022-07-26 04:29] TysonMN commented on #411
Can you make a PR with that simplification?

[2022-07-26 12:30] TysonMN commented on #411
I think we could target .NET Standard 1.6 (since we were before), but this is not recommended.

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2022-07-26 14:42] LyndonGingerich commented on #411
@TysonMN If I understand correctly, you would like all projects to target `netstandard2.0` (not `netstandard2.1`) alone, including those currently targeting only `net6.0`. Is this correct?

[2022-07-26 14:59] TysonMN commented on #411
Only the `Hedgehog` project

[2022-07-28 05:05] AlexeyRaga opened #418 "Dead end when shrinking"
I have got it in a "production" code test suit and was not able to reproduce it yet (didn't dig deep either).

Here is the exception:

[code]

It happened in this condition:

1. Have a failing test
2. Get recheck data and use it to reproduce the test
3. Test still fails
4. Fix the code so that test would fail differently
5. Use the same recheck

Re-running the test fails with this exception.

[2022-07-28 13:16] TysonMN commented on #418
Oh! I thought it would only happen if I did something wrong.

This optimized rechecking requires the same generators to be used in the same order. Both changes to the tests or changes to the production code could cause some alternative flow to happen.

I hadn't thought of this before.  Instead of saying

this should say something like

In addition to changing this text, we can add a test that exhi

[2022-07-28 13:20] TysonMN commented on #418
Actually, if this happens, we can automatically run `check` for the user.  Is this better though? It could be confusing though because `recheck` is behaving like `check`. But this should be ok because `recheck` should never be used "forever". It should just be used temporarily as part of a debugging session.

[2022-07-29 02:10] AlexeyRaga commented on #418
I don't believe that it'd be fine because it may be confusing when it fails.
In this case the failure will probably not be driven by that recheck string, and the user may not know about it.

[2022-07-29 02:13] AlexeyRaga opened #419 "Recheck is slow"
Not sure if it is known or by design, but running a test with `recheck` is more than 10x slower than having the same test run.

It feels strange knowing that `recheck` only runs 1 tests while `check` does a bunch or runs and a bunch of shrinks and it is still faster.

I am takling about figures like:

`check`: 22 tests, 51 shrink, failed in 0.9+ seconds
`recheck`: 1 test, failed in 9+ seconds

[2022-07-29 12:20] TysonMN commented on #419
Wow! Recheck is supposed to be faster. In particular, recheck is supposed to only run your test once, so any breakpoint in your code is only hit once.

I need more information to understand the problem.

Can you reproduce the behavior with code you can share?

[2022-07-29 13:53] AlexeyRaga commented on #419
It does seem to run once and a breakpoints only hit once, I confirm.
But somehow it is much slower to run.

there is this https://github.com/dharmaturtle/fsharp-hedgehog-xunit/issues/7 but it looks like a separate issue.

I will see if I can find time to build an artificial case to reproduce.

[2022-07-29 19:32] dharmaturtle opened #420 "Recheck runs property multiple times"
Stealing code from [this issue](https://github.com/hedgehogqa/fsharp-hedgehog/issues/408#issue-1213793030):

[code]

The breakpoint is hit multiple times. I think Hedgehog is rerunning the shrink runs. The values of `i` in chronological order are as follows: `6, 1, 3, 5`. I'm guessing this isn't expected behavior?

[2022-07-29 19:35] dharmaturtle commented on #419
Potentially relevant: https://github.com/hedgehogqa/fsharp-hedgehog/issues/420

[2022-07-29 19:50] dharmaturtle commented on #420
It isn't obvious to me that `reportRecheckWith` should `followShrinkPath`: https://github.com/hedgehogqa/fsharp-hedgehog/blob/b48f662ba42541dd51b0a116cca2489339d14d6a/src/Hedgehog/Property.fs#L250

[2022-07-29 20:44] TysonMN commented on #420
I think you need to add `return` on the last line of your CE.  This is a limitation imposed by F#.

Can you check and report back?

[2022-07-29 20:45] TysonMN commented on #420
I don't understand your second comment. I will call you later to discuss.

[2022-07-29 20:48] TysonMN commented on #419
Thanks for the reminder @dharmaturtle.

@AlexeyRaga, does the last line of your CE include `return`?  That is necessary in order to only retest the failed input.

Even so, I don't think this fully explains your experience.

[2022-07-29 22:08] dharmaturtle commented on #420
`return Expect.isTrue (i <= 5)` does indeed only run once with `recheck`.

Kinda wish there was some way to make the dev experience on this better.

[2022-07-29 22:09] #420 closed

[2022-07-30 00:06] dharmaturtle commented on #419
@AlexeyRaga are you using C# or F#? Additionally, are you using Hedgehog Experimental and/or Hedgehog Xunit?

[2022-07-31 10:24] AlexeyRaga commented on #419
@dharmaturtle I use both. I don't believe that it does (or could) matter though. I do not nave anything in the CE.
I add latest versions of all 3: `Hedgehog`, `Hedgehog.Experimental` and `Hedgehog.Xunit`.

Here is an example that reproduces the issue for me, and I found something weird. So I put all the info into this comment, as it is still related.
Let's stick with `F#` only.

A function under t

[2022-07-31 12:07] AlexeyRaga commented on #419
I have created a repo here if it can be helpful:

https://github.com/AlexeyRaga/fsharp-csharp-tests/blob/main/FSharpTest/Tests.fs

[2022-07-31 13:58] TysonMN commented on #419
That is https://github.com/dharmaturtle/fsharp-hedgehog-xunit/issues/7. @dharmaturtle has a fix for it. There will be a new release of the NuGet package soon.

Yes, the generators have to be exactly the same, including the bounds.  My guess is that this evolutions this issue.

`Property.recheckBool` didn't have efficient rechecking.  See https://github.com/hedgehogqa/fsharp-hedgehog/issues/420.  T

[2022-07-31 20:55] dharmaturtle commented on #419
I'm in favor.

[2022-08-08 12:56] moodmosaic commented on #25
@cmeeren, `cover` won't run more tests; that's happening because of [`checkCoverage`](https://hackage.haskell.org/package/QuickCheck/docs/Test-QuickCheck.html#v:checkCoverage). The equivalent in `hedgehog` is

[code]

I'll provide an example of QuickCheck's `checkCoverage` side-by-side with Hedgehog's API and link it here, in case it helps.

[2022-08-10 08:45] cmeeren commented on #25
Great, I would appreciated that!

[2022-08-10 15:03] moodmosaic commented on #25
@cmeeren, a good example of QuickCheck's `checkCoverage` can be found in [this StackOverflow answer](https://stackoverflow.com/a/72182415) by @ploeh.

I ported all properties from that answer [in Hedgehog](https://github.com/moodmosaic/coverage-check-example/blob/master/src/Test/Q72168364/Hedgehog.hs) and created a [custom test-runner](https://github.com/moodmosaic/coverage-check-example/blob/mast

[2022-08-11 06:11] cmeeren commented on #25
Oh, I see, you were referring to Haskell Hedgehog, not F#. I thought you were referring to F# and that this has somehow been implemented under the radar.

In any case, thanks for the clarification. :)

[2022-11-05 21:14] cmeeren opened #422 "Smarter handling of edge cases"
I came across a blog post on property testing that used [jqwik](https://jqwik.net/). It seems to have some nice functionality that would be great to have in Hedgehog. For example, [generation of edge cases](https://jqwik.net/docs/current/user-guide.html#generation-of-edge-cases). jqwik intelligently knows about edge cases (even when combining/mapping generators) and makes sure to mix them in from

[2022-11-05 21:23] cmeeren opened #423 "Support exhaustive generation if number of permutations <= number of tests"
I came across a blog post on property testing that used [jqwik](https://jqwik.net/). It seems to have some nice functionality that would be great to have in Hedgehog.

One useful feature is [exhaustive generation](https://jqwik.net/docs/current/user-guide.html#exhaustive-generation): If jqwik sees that it can generate all permutations of the inputs with at most the specified (or default) number of

[2022-11-05 21:32] cmeeren opened #424 "Run using the same seed until all tests pass"
I came across a blog post on property testing that used [jqwik](https://jqwik.net/). It seems to have some nice functionality that would be great to have in Hedgehog.

One useful feature is [automatically rerunning falsified properties](https://jqwik.net/docs/current/user-guide.html#rerunning-falsified-properties): If a property fails, jqwik by default uses the same seed for that property until it

[2022-11-05 21:37] cmeeren opened #425 "Shrink with timeout instead of number"
I came across a blog post on property testing that used [jqwik](https://jqwik.net/). It seems to have some nice functionality that would be great to have in Hedgehog.

One useful feature is shrinking for a certain amount of time (search [this page](https://jqwik.net/docs/current/user-guide.html) for `ShrinkingMode.BOUNDED`).: If a property fails, jqwik tries to shrink for (by defaut) up to 10 seco

[2022-11-05 21:47] cmeeren commented on #414
I guess you could rename `i` to `_i` to work around it.

[2022-11-05 21:54] cmeeren commented on #377
I can understand testing `[]` only once if it's the only generated value, but what if you are generating other values in the same property? Then `[]` could be generated multiple times and combined with several other values, which is desirable.

The general idea, I think, is to not generate the same combination of values in the entire property (considering all generators that are used in the proper

[2022-11-05 21:58] cmeeren commented on #371
Would love for Hedgehog to be faster. While I will continue using Hedgehog over FsCheck due to integrated shrinking, the significantly slower performance is a notable drawback in several of my test suites.

Alternatively, better performance could allow using a higher test count with no loss of test suite runtime.

[2022-11-09 09:41] cmeeren opened #426 "Extend DateTime generator to use different DateTimeKind values"
From what I can discern statically, `Gen.dateTime` always generates values with `DateTimeKind.Unspecified`. It would be great to have it generate values with random `DateTimeKind` values.

[2022-11-11 14:56] moodmosaic commented on #422
This is nice to have in Hedgehog. Also fast-check [supports this](https://github.com/dubzzz/fast-check/discussions/2978). In Hedgehog this could be done via a new Range, so in addition to constant, linear, exponential, there could be a *[Lyapunov](https://en.wikipedia.org/wiki/Lyapunov_exponent)/chaotic/biased* one that behaves like that.

Perhaps `Range.biased` is the friendliest name of all, ins

[2022-11-11 15:10] moodmosaic commented on #423
It would be very nice to have. Unsure off the top of my head how it can be modeled with Range. Any thoughts?

[2022-11-11 15:18] moodmosaic commented on #425
Perhaps @TysonMN is *the* one to comment on this 👀

[2022-11-11 20:01] TysonMN commented on #425
The current default behavior is to shrink at most 100 times.  That value can be set to a larger number, but shrinking cannot currently be restricted (only) by time.  This seems like a reasonable request.  However, I would prefer to see a motivating use case before implementing.

[2022-11-11 21:39] cmeeren commented on #425
I consider what I said to be a motivating use case:

This has previously been reported in #223.

[2022-11-12 22:56] TysonMN commented on #425
I want an actual test someone wrote that doesn't fully shrink.  I want to run the test myself.  Issue #223 is blocked until you recall the test you had written.

It is ok if the test is "sanitized" to remove or replace intellectual property from an employer.

[2022-11-12 22:58] TysonMN commented on #425
Actually, the default behavior is to stop shrinking if 100 values are discarded.

[2022-11-13 13:37] cmeeren commented on #425
I will try to keep it in mind and post such an example here the next time it happens. May be a while.